h2, h3, h4 {
	font-size: 18px;
	font-weight: bold;
	}
ol .point{
	list-style-type: upper-alpha;
	font-weight: bold;
	margin-bottom: 5px;
}

ol ul{
	list-style-type: square;
	font-weight: normal;
}

.top-header-container, footer{
	padding: 5px;

}
.header-banner-background{
	height: 150px;
	background-color: rgba(0,0,0,0.9);
	background-image: url(http://sda.pu.go.id/bwssulawesi4/assets/images/slide-banner/thumb_1800X650_Banner-Web.png);
	background-position: left -10px top -100px;
}
.header-title-text{
	font-size: 20px;
	font-weight: bold;
	color: #fefefe;
}

.main-section{
	min-height: 600px;
	border: 1px solid #f5f5f5;
	padding: 15px;
}

.card-header{
	padding: 2px 0;
	width: auto !important;
	text-align: center !important;t

}
.accordion{
	text-align: center !important;

}
.header-logo{
	float: left;
}

td{
	padding: 0.05rem !important;
	font-size: 15px;
}
footer{
	text-align: center;
}
