.primary-color-container, .primary-color-container a{
	background-color: #0057A8 !important;
	color: #fefefe !important;
}
.primary-color {
	color: #fefefe !important;
}

h1, h2, h3, h4, h5, h6, a {
	/*color: #0057A8;*/
}

.list-container {
	width: 100%; 
	text-align: left; 
	border: 1px solid #0057A8;
	padding: .175rem .75rem;
	font-size: 15px;
	/*color: yellow;*/
	/*background-color: #0057A8;*/
}